body {
  padding-bottom: 200px;
  position: relative;
  min-height: 100vh;
}

.footer {
  background-color: #f6f6f6;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #3a3a3a;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer input:focus {
  border: #0077b6 2px solid;
  box-shadow: none;
}

.footer div:nth-child(2) p {
  font-size: 17px;
}

.newsletter-btn {
  width: 400px;
}

.newsletter-btn input,
.newsletter-btn button {
  border-radius: 0;
}

.newsletter-btn button {
  background-color: #3a3a3a;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 60%);
}

.payment-copyright {
  margin: 30px 9vw 0 0;
}

.payment-copyright p {
  margin-block-start: 1em;
}

.footer div:nth-child(2) {
  margin: 30px 0 0 0;
}

.icon-credit {
  font-size: 14px;
}

.icon-credit a {
  color: #3a3a3a;
}
