.footer {
  background-color: #f6f6f6;
  height: 200px;
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  justify-content: center;
}

.newsletter-btn {
  width: 400px;
}

.payment-copyright {
  margin: 20px 10vw 0 0;
}

.payment-copyright p {
  margin-block-start: 1em;
}

.footer div:nth-child(2) {
  margin: 20px 0 0 0;
}

.visa {
  background-image: url(../images/visa.png);
}
