.home h1 {
  font-size: 100px;
}

.home-logo {
  background-image: url(../images/banner-logo.jpg);
  background-position: center;
  height: 300px;
  position: static;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 50px;
}

.image-sizing {
  background-size: 100%;
}

@media screen and (max-width: 1350px) {
  .image-sizing {
    background-size: 130%;
    transition-property: background-size;
    transition-duration: 250ms;
  }
}

.buy-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/classic-black-frame.jpg);
  background-position: center;
  background-size: cover;
  height: 35vh;
  position: static;
  margin-top: 100px;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 60%);
}

.buy-banner p:nth-child(1) {
  padding-top: 55px;
  font-size: 50px;
  margin: 0.5rem;
}

.buy-banner p:nth-child(2) {
  font-size: 25px;
  margin-bottom: 25px;
}

.buy-banner a {
  border-radius: 3px;
}

.card-real {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card-real .card {
  margin: 0 15px 0 15px;
  border-radius: 0px;
  border: none;
}

.card-real .card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 0px;
}

.classic-img-centered {
  background-image: url(../images/sunglasses-photo-one.jpg);
  position: static;
  background-position: 40% 25%;
}

.card-real a {
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 15px;
  color: #3a3a3a;
}

.card-real .card-body {
  margin-left: 0;
  padding-left: 0;
}

.image-group {
  margin-top: 100px;
}

.image-group a {
  text-decoration: none;
}

.image-group a div {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 60%);
  font-weight: 500;
  margin-top: 203px;
  justify-content: center;
  text-decoration: none;
}

.image-group p {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 60%);
  font-weight: 500;
  margin: auto;
}

.image-group div {
  display: flex;
}

.picture {
  background-image: url(../images/library2.jpg);
  width: 33.3333333333%;
  height: 450px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.image-name-training {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/sunglasses3.jpg);
}

.image-name-training:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/sunglasses3.jpg);
}

.image-name-airlinePrep {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/thrust-levers5.jpg);
}

.image-name-homeBuilders {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/propPlane.JPG);
}

.image-name-aerobatics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/biPlane.JPG);
}

.image-name-finance {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/privateJet.JPG);
}

.image-name-maintenance {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/prop2.JPG);
}
