.home h1 {
  font-size: 100px;
}

.home-logo {
  background-image: url(../images/banner-logo.jpg);
  background-position: center;
  height: 300px;
  position: static;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 50px;
}

.image-sizing {
  background-size: 100%;
}

@media screen and (max-width: 1350px) {
  .image-sizing {
    background-size: 130%;
    transition-property: background-size;
    transition-duration: 250ms;
  }
}

.buy-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/classic-black-frame.jpg);
  background-position: center;
  background-size: cover;
  height: 35vh;
  position: static;
  margin-top: 60px;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 60%);
}

.buy-banner p:nth-child(1) {
  padding-top: 55px;
  font-size: 50px;
  margin: 0.5rem;
}

.buy-banner p:nth-child(2) {
  font-size: 25px;
  margin-bottom: 25px;
}

.buy-banner a {
  border-radius: 3px;
}

.card-real {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card-real .card {
  margin: 0 15px 0 15px;
  border-radius: 0px;
  border: none;
}

.card-real .card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 0px;
}

.classic-img-centered {
  background-image: url(../images/sunglasses-photo-one.jpg);
  position: static;
  background-position: 40% 25%;
}

.card-real a {
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 15px;
  color: #3a3a3a;
  /* text-shadow: 0 0 4px rgb(0 0 0 / 1%); */
}

.card-real .card-body {
  margin-left: 0;
  padding-left: 0;
}
